{% extends "layout.html" %}

{% block title %}Bienvenido{% endblock %}

{% block content %}
<section id="welcome" class="py-5 text-light">
    <div class="container">
        <h2>Welcome {{ member.name }}</h2>
        <hr class="w-25 border-light">
        <nav class="navbar navbar-expand-lg col-12">
            <div class="col-12">
                <div class="justify-content-center" id="mainNavbar">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'collection' %}" style="color: white">Collection</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'shop' %}" style="color: white">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pase-recompensas" style="color: white">Reward System</a>
                        </li>
                        <li class="nav-item justify-content-center">
                            <a class="nav-link btn btn-danger bg-danger text-white fw-bold"
                               href="#combatir" style="color: white">¡MATCH!</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <hr class="w-25 border-light">
        <br>
        <a href="{% url 'logout' %}" class="btn btn-danger">Log out</a>
    </div>
</section>
{% endblock content %}
